.main{
    background-color:black;
    height: 680px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px  2px cyan;
}
.main-1{
    width: 70%;
    height: 650px;
    margin-top: 15px ;
    margin-left: 15px;
}
.main-a{
   background-color: black;
    height: 650px ;
    width: 970px ;
    margin-left: 20px;
    border-radius: 10px;
}
.main-2{
    background-color: white;
    width: 30%;
    height: 650px;
    margin-top: 15px;   
    margin-right: 15px;
    border-radius: 10px;
}
.div
{
    height: 225px;
    display: flex;
    border-radius: 10px;
}
.div-a{
    background-color:  #3b3b3b;
    width: 459px;
    height: 200px;
    display: flex;
    border-radius: 10px;
    margin: 5px;
}
.img{
    margin: auto;
}
